################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/posts-service/PostService/.vs/PostService/FileContentIndex/fef3b735-ba7e-410e-9670-d50b6dc31316.vsidx
/posts-service/PostService/.vs/PostService/FileContentIndex/15fe9094-54c0-4d7b-8c4a-f35dc1800c86.vsidx
/posts-service/PostService/.vs/PostService/FileContentIndex/66330aab-b1bf-4f0d-a586-ffe114820da5.vsidx
/posts-service/PostService/.vs/PostService/FileContentIndex/7160aedb-342c-4e83-ab80-3d8f5fdb3743.vsidx
/posts-service/PostService/.vs/PostService/FileContentIndex/7f16f4a9-a694-4a9b-9c63-28f2087939e2.vsidx
