################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/

bin/
obj/
Debug/
DebugPublic/
Release/
ReleasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uild[Ll]og/

publish/
out/

*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
*.sln.metaproj
*.sln.metaproj.user
*.sln.metaproj.cache
*.dotSettings.user
*.vspscc
*.vssscc
*.pdb

*.log

*.dll
*.exe
*.so
*.dylib
